.container{
    background-image: url(/img/fundo.png);
    margin: 0% auto;
    width: 100%;
    height: auto;
    font: 16px Arial, Helvetica, sans-serif;
}
.img_header{
    width: 63%;
    margin: 0px 0px 0px 265px;
}
.header-page{
    margin: 0% auto;
    width: 95%;
    height: 30%;
}
.nav-page{
    background-color: #c5c5b2;
    margin: 0% auto;
    width: 63%;
    height: 30px;
    padding: 20px 0px 0px 0px;
    margin-top: -3px;
}
a{
    text-decoration: none;
}
.li1{
    margin-top: 10px;
    font-weight: bold;
    padding: 0px 0px 0px 25px;
    color: rgb(39, 32, 86);
    display: inline;
}
.li2{
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    color: rgb(39, 32, 86);
    display: inline;
}
.li3{
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    color: rgb(39, 32, 86);
    display: inline;
}
.li4{
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    color: rgb(39, 32, 86);
    display: inline;
}
.section-page{
    background-color: #e8e8d9;
    margin: 0% auto;
    width: 60%;
    height: auto;
    margin-top: -20px;
}
.tit1{
    color: #828271;
    font-size: 1.2em;
    padding: 20px 0px 0px 10px;
}
p{
    padding: 0px 0px 0px 10px;
}
.img_pag{
    margin: 15px 0px 0px 0px;
    border-bottom: 10px solid #c5c5b2;
    border-top: 10px solid #c5c5b2;
    border-right: 10px solid #c5c5b2;
}
.img_pag2{
    margin: 15px 0px 0px 0px;
    border-bottom: 10px solid #c5c5b2;
    border-top: 10px solid #c5c5b2;
    border-right: 10px solid #c5c5b2;
}
.img_pag3{
    margin: 15px 0px 0px 0px;
    border-bottom: 10px solid #c5c5b2;
    border-top: 10px solid #c5c5b2;
    border-right: 10px solid #c5c5b2;
}
.footer-page{
    background-color: #c5c5b2;
    margin: 0% auto;
    width: 60%;
    height: 45px;
    margin-top: -21px;
}
.tit_footer{
    padding: 20px 0px 0px 338px;
}